.form-row.omise-label-inline label,
.omise-label-inline label,
label.omise-label-inline {
	display: inline-block;
}

.omise-new-card-form {
	display: flex;
  	flex-direction: column;
}

.omise-form-child {
	margin-top: auto;
}

.omise-remember-card {
	margin-top: 0.5em;
	margin-left: 0.2em;
}

.omise-customer-card-list {
	list-style-type: none;
	padding-bottom: .75em;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 1px #fff;
}

#label-new_card_info h3 {
	margin-top: .75em;
	display: inline-block;
}

fieldset.card-exists,
.omise-new-card-form.card-exists {
	display: none;
}

#new_card_info:checked ~ fieldset.card-exists,
#new_card_info:checked ~ .omise-new-card-form.card-exists {
	display: flex;
}

/**
 * 1). Specific style
 * (usually designed specifically for only one purpose).
 */
#payment .payment_methods li .payment_box fieldset#omise-form-installment,
#payment .payment_methods li .payment_box fieldset#omise-form-internetbanking {
	padding: 0;
}

.omise-banks-list .installment-term-select-box {
	width: 8rem;
	border: 1px solid #d4d4d4;
	font-size: 80%;
}

#payment .payment_methods li .payment_box fieldset#omise-form-installment .omise-buttom-note {
	margin-top: 4em;
}

#payment .payment_methods li .payment_box fieldset#omise-form-installment .omise-installment-interest-rate {
	color: #aaa;
	font-size: 80%;
	line-height: 1;
}

#payment .payment_methods .Omise-Image {
	vertical-align: middle;
}

/**
 * Omise Bill Payment Lotus
 * CSS for the 'Thank You' (order-received) page.
 */
.omise-konbini-details,
.omise-billpayment-tesco-details {
	margin-bottom: 4em;
	text-align: center;
}
.omise-billpayment-tesco-barcode {
	display: inline-block;
}
.omise-billpayment-tesco-print-button {
	margin-top: 2em;
}
.omise-konbini-footnote,
.omise-billpayment-tesco-footnote {
	margin-top: 4em;
	padding: 1em;
	font-size: 85%;
	text-align: left;
	background-color: #f8f8f8;
}
.omise-billpayment-tesco-footnote p {
	margin: 0;
	padding: 0;
}

/**
 * Omise PayNow
 */
.omise-paynow-details {
	margin-top: 3em;
	margin-bottom: 4em;
	text-align: center;
}
.omise-paynow-details img {
	margin: auto;
}
.omise-paynow-logo {
	background: url('../images/paynow.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 150px;
	height: 80px;
	margin: auto;
}

.omise-paynow-payment-status {
	margin-top: 15px;
}

.omise-paynow-payment-status #timer {
	font-weight: 700;
}

.omise-paynow-payment-status .green-check {
	background: url('../images/green-check.svg') no-repeat;
	background-size: contain;
	background-position: center;
	height: 50px;
	margin: 10px auto;
}

/**
* Omise Promptpay
*/

.omise-qr-image > svg {
	max-width: 100%;
	height: auto;
}

@media all and (min-width: 768px) {
	.omise-qr-image > svg {
		max-width: 300px !important;
	}
}

.omise-download-promptpay-qr {
	display: inline-block;
	color: white !important;
	padding: 6px 12px;
	font-weight: bold;
	background-color: #1A53F0;
	border-radius: 4px;
	margin-bottom: 0.75rem;
	cursor: pointer;
}

.omise-download-promptpay-qr:hover {
	background-color: #0c3abb;
}


/**
 * 2). Components
 * (stylesheets that are designed generally and may be commonly used as a component).
 */
/**
 * 2.1). Typography
 */
.omise-secondary-text {
	color: #aaa;
	font-size: 80%;
}

.omise-secondary-text.googlepay-selected {
	color: #000;
	font-size: 125%;
}

/**
 * 2.2). Components
 */
.omise-buttom-note {
	margin-top: 2em;
	color: #aaa;
	font-size: 80%;
}

.omise-additional-payment-details-box {
	margin-bottom: 4em;
	text-align: center;
}

/**
 * 2.3). Form, bank list components
 */
ul.omise-banks-list {
	list-style-type: none;
	margin: 0;
}

.omise-banks-list input[type="radio"] + label::before {
	position: relative;
}

.omise-banks-list .item {
	position: relative;
	padding: 14px 0;
	border-bottom: 1px solid #eee;
}

.omise-banks-list .item.mobile-banking {
	padding-bottom: 0;
	list-style-type: none;
}

.omise-banks-list .item.fpx:first-child {
	padding-top: 20px;
}

.omise-banks-list .item:first-child {
	padding-top: 0;
}

.omise-banks-list .item > input {
	position: absolute;
	top: 28px;
	left: 8px;
}

.omise-banks-list .item:first-child > input {
	top: 14px;
}

.omise-banks-list .item > label {
	display: inline-block;
	padding: 0 0 0 32px;
	cursor: pointer;
	position: relative;
}

.omise-banks-list .bank-label {
	display: inline-block;
	width: 180px;
	vertical-align: top;
}

.omise-banks-list .fpx-bank-label {
	display: inline-block;
	width: 180px;
	vertical-align: middle;
}

.omise-banks-list .mobile-banking-label {
	display: inline-block;
	width: 180px;
	vertical-align: middle;
}

.omise-banks-list .bank-logo {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-top: 4px;
	border-radius: 2px;
	border: 4px solid #fff;
	background-size: cover;
	background-repeat: no-repeat;
}

.omise-banks-list .mobile-banking-logo {
	display: inline-block;
	background-size: cover;
	width: 40px;
	height: 40px;
	margin-bottom: 6px;
	margin-left: 10px;
	vertical-align: middle;
}

.omise-banks-list .fpx-bank-logo {
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 5px;
}

/** Media Quries **/
@media all and (min-width: 375px) {
	ul.omise-banks-list {
		list-style-type: none;
		margin: 0 0 0 1.75em;
	}

	.omise-banks-list .item > input {
		left: 3.5px;
	}

	.omise-banks-list .bank-label {
		padding-left: 8px;
	}

	.omise-banks-list .mobile-banking-label {
		padding-left: 8px;
		padding-bottom: 5px;
	}
}

@media all and (min-width: 768px) {
	ul.omise-banks-list {
		list-style-type: none;
		margin: 0;
	}

	.omise-banks-list .bank-label {
		padding-left: 0px;
		width: auto;
	}

	.omise-banks-list .mobile-banking-label {
		padding-left: 0px;
		width: auto;
	}
}

@media all and (min-width: 1024px) {
	ul.omise-banks-list {
		list-style-type: none;
		margin: 0 0 0 1.75em;
	}

	.omise-banks-list .bank-label {
		padding-left: 8px;
		width: 148px;
	}

	.omise-banks-list .mobile-banking-label {
		padding-left: 8px;
	}
}

@media all and (min-width: 1280px) {
	.omise-banks-list .bank-label {
		width: 180px;
	}

	.omise-banks-list .mobile-banking-label {
		width: 180px;
	}
}

/**
 * 2.4). Bank logos
 */

/**
 * internet banking logos
 */

/** BAY **/
.bank-logo.bay {
	background-image: url('../images/bay.svg');
}

/** BBL **/
.bank-logo.bbl {
	background-image: url('../images/bbl.svg');
}

/**
 * mobile banking logos
 */

/** KPLUS **/
.mobile-banking-logo.kplus {
	background-image: url('../images/kplus.svg');
}

/** SCB **/
.mobile-banking-logo.scb {
	background-image: url('../images/scb-easy.svg');
}

/** BAY **/
.mobile-banking-logo.bay {
	background-image: url('../images/kma.svg');
}

/** BBL **/
.mobile-banking-logo.bbl {
	background-image: url('../images/bbl.svg');
}

/** KTB **/
.mobile-banking-logo.ktb {
	background-image: url('../images/ktb.svg');
}

/**
 * fpx select & bank logos
 */
.fpx-select-bank {
    position: relative;
}

.fpx-select-bank:before {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    content: "";
    pointer-events: none;
    background: transparent;
    background-repeat: no-repeat;
    background-position-y: 5px;
}


.fpx-select-bank > select {
    padding: 10px 50px;
	width: 100%;
    background-image:url(../images/fpx-unknown.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 10px;
    background-size: 25px;
    cursor: pointer;
}

.fpx-select-bank > select.default {
    background: none;
	padding-left: 10px;
}

.fpx-select-bank > select.affin, select.affin_test {
    background-image:url(../images/fpx-affin.svg);
}

.fpx-select-bank > select.agro {
    background-image:url(../images/fpx-agronet.svg);
}

.fpx-select-bank > select.alliance {
    background-image:url(../images/fpx-alliance.svg);
}

.fpx-select-bank > select.ambank {
    background-image:url(../images/fpx-ambank.svg);
}

.fpx-select-bank > select.bsn {
    background-image:url(../images/fpx-bsn.svg);
}

.fpx-select-bank > select.cimb {
    background-image:url(../images/fpx-cimb.svg);
}

.fpx-select-bank > select.citi {
    background-image:url(../images/fpx-citi.svg);
}

.fpx-select-bank > select.bocm {
    background-image:url(../images/fpx-bocm.svg);
}

.fpx-select-bank > select.hongleong {
    background-image:url(../images/fpx-hongleong.svg);
}

.fpx-select-bank > select.hsbc {
    background-image:url(../images/fpx-hsbc.svg);
}

.fpx-select-bank > select.islam {
    background-image:url(../images/fpx-islam.svg);
}

.fpx-select-bank > select.kfh {
    background-image:url(../images/fpx-kfh.svg);
}

.fpx-select-bank > select.maybank2e, select.maybank2u{
    background-image:url(../images/fpx-maybank.svg);
}

.fpx-select-bank > select.muamalat {
    background-image:url(../images/fpx-muamalat.svg);
}

.fpx-select-bank > select.ocbc {
    background-image:url(../images/fpx-ocbc.svg);
}

.fpx-select-bank > select.public {
    background-image:url(../images/fpx-publicbank.svg);
}

.fpx-select-bank > select.rakyat {
    background-image:url(../images/fpx-rakyat.svg);
}

.fpx-select-bank > select.rhb {
    background-image:url(../images/fpx-rhb.svg);
}

.fpx-select-bank > select.sc {
    background-image:url(../images/fpx-sc.svg);
}

.fpx-select-bank > select.uob {
    background-image:url(../images/fpx-uob.svg);
}

.omise-offline {
	color: #aaa;
	font-size: 80%;
	float: right;
}

.omise-offline > p{
line-height: 2;
}

.offline {
	padding: 0 0 0 75px !important;
	margin-bottom:0px !important;
}

.fpx-terms-and-conditions-block {
	margin-top: 10px;
}


.gpay-button {
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    height: 40px;
    min-height: 40px;
    padding: 11px 24px;
    width: 100%;
	margin-bottom: 1rem;
}

.qr-alert-box {
	padding: 15px;
	margin: 20px 0;
	border: 1px solid black;
}

.align-left {
	text-align: left;
}
